.App {
  text-align: center;
  min-height: 100vh;
  max-width: 400px;
}

.card {
  padding: 4vh;
}

.clickable:hover{
  border-color: blue;
  cursor: pointer;
}

.commentSection {
  max-height: 80vh;
  overflow-y: scroll;
}

.commentSection::-webkit-scrollbar {
  display: none;
}

.projectSection{
  max-height: 70vh;
  overflow-y: scroll;
}

.projectSection::-webkit-scrollbar {
  display: none;
}